* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h2, h4, h5 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #F6FFFE;
}


/* hero box index */
.hero-box-index {
    height: 523px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.image-hero-box-index {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-hero-box-index {
    height: auto;
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-hero-box-top-index {
    height: auto;
    width: 66%;
    right: 20px;
}

.style-line-hero-box-index {
    height: 1px;
    width: 280px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000000;
}

.info-hero-box-bottom-index {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttuns-top-hero-box-index {
    height: auto;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.destinations-button-hero-index, .bookAFlight-button-hero-index, .Book-now-button-special-offers-index {
    height: 55px;
    width: 240px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0.5px #e7e7e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.destinations-button-hero-index {
    background-color: #FF9900;
}

.bookAFlight-button-hero-index {
    background-color: #ffffff;
}

.buttuns-bottum-hero-box-index {
    height: auto;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bottum-button-hero-index {
    height: 38px;
    width: 101px;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* favorit box index */
.favorit-box-index {
    height: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pruducts-favorit-container-index {
    height: auto;
    width: 84%;
    gap: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pruduct-favorit-box-index {
    height: 225px;
    width: 30%;
    background-color: #00f000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-favorit-box-index {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* special offers index */
.Special-offers-container-index {
    height: 542px;
    width: 100%;
    background-color: #D5D4FE;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.special-offers-box-index {
    height: auto;
    width: 268px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special-offers-title-text-index, .special-offers-sale-amount-index {
    color: #3300FF;
}

.Book-now-button-special-offers-index {
    background-color: #3300FF;
    color: #ffffff;
}

.info-container-special-offers-index {
    height: auto;
    width: 690px;
}

/* searchbar */

.container-searchbar {
    height: 80px;
    width: 100%;
    margin-top: 50px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_for_flight {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 8px;   
}

.country-image {
    max-width: 250px;
    max-height: 60px;
}

.search-button-box {
    height: 55px;
    width: 260px;
    background-color: #ff9900;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0.5px #e7e7e7;
}

.search-select-box-container {
    height: 55px;
    width: 18%;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
}

.search_for_flight input, .form-container select, .form-container button {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search_for_flight button {
    background-color: orange;
    border: none;
    cursor: pointer;
}

.search_for_flight button:hover {
    background-color: #e69500;
}


/*                                          FIXME:  header page                                                                 */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    height: 9.6rem;
    gap: 2rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
}

.main-nav-link, .main-nav-link-blue {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 1.8rem;
}

.main-nav-link-blue {
    color: #3300FF;
}

.login-container-header {
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login-box {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    height: auto;
    width: auto;
    display: flex;
}

.header-box {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.popUpNotifiction {
    position: fixed;
    top: 0;
    right: 0;
    height: 300px;
    width: 140px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 0px 2px 4px #000000;
}


/*                                          FIXME: footer page                                                                 */

.container-footer {
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-container-footer {
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon-box-footer {
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-icon-box-footer {
    height: autp;
    margin-top: 25px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.style-line-footer {
    height: 1.5px;
    width: 75%;
    background-color: #e7e7e7;
}

.info-cotainer-footer {
    height: auto;
    width: 55%;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-container-footer {
    height: auto;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*                                          FIXME: footer page                                                                 */


/*                                          FIXME: trips page                                                                  */

.reset-button-trips {
    height: 35px;
    width: 100px;
    margin: 10px 25px 0px 0px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #000000;
}

.main-container-trips-flights {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stile-line-flight {
    height: 2px;
    width: 90%;
    background-color: #000000;
    margin: 10px 0px 20px 0px;
}

.flight-box-container {
    width: 100%;
    padding: 0px 100px 0px 100px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.flight-box-item-container {
    width: 30%;
    padding: 30px;
    background-color: #ffffff;
    margin: 20px 0px 20px 0px;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.style-box-flight-box {
    height: 1px;
    width: 80%;
    background-color: #e7e7e7;
}
.flight-box-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flight-box-middle {
    width: 100%;
    margin-top: 2px;
    font-size: 24px;
    gap: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.flight-box-prise-middle {
    font-size: 28px;
    color: #FF9900;
}

.button-flight-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.button-flight-box, .button-flight-box-color {
    height: 50px;
    width: 35%;
    background-color: #ffffff;
    margin: 10px 0px 20px 0px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px 2px #e7e7e7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-flight-box-color {
    background-color: #ff9900;
}


.flight-box {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.flight-data-box, .flight-data-box-to {
    width: 130px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 3px;

}

.flight-data-box-to {
    width: 40px;
    font-size: 11px;
    justify-content: center;
}

/*                                          FIXME: trips-info page                                                             */

.hero-container-trips-info {
    height: auto;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/*                                          FIXME: login page                                                                  */


/*                                          FIXME: detail page                                                                 */


/*                                          FIXME: about_us pagen                                                              */


/*                                          FIXME: dashboard page                                                              */


/*                                          FIXME: user dashboard page                                                         */

.dashboard-balk-user-dashboard {
    height: 100px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-dashboard-container {
    height: 600px;
    width: 100%;
    gap: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile-user-dashboard-container {
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.profile-title-user-dashboard {
    margin-left: 20%;
}

.image-user-container-user-dashboard {
    height: auto;
    width: 100%;
    margin-top: 20px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-img-user-dashboard {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: #ff0000;
}

.profile-username-info-user-dashboard {
    height: auto;
    display: flex;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.role-profile-info-user-dashboard {
    font-size: 16px;
}

.search_for_flight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    width: fit-content;
    margin: 0 auto;
}

.search_for_flight input, .form-container select, .form-container button {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search_for_flight button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.search_for_flight button:hover {
    background-color: #e69500;
}


.search-for-flight-box{
    width: 100%;
}
.reset-query{
    width: 100%;
    padding: 0px 100px 0px 100px;
    display: flex;
    justify-content: right;

}




.search-for-flight-box{
    width: 100%;
}
.reset-query{
    width: 100%;
    padding: 0px 100px 0px 100px;
    display: flex;
    justify-content: right;

}











.log-in-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}


.login-container {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    max-width: 700px;
    margin: 20px auto;
    gap: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.5);
}

.input-field {
    display: flex;
    flex-direction: row;
}

/* styling form */

input {
    /* background-color: FFFCF8; */
    /* width: 50rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; */
    border: none;
    border-bottom: 0.2rem solid black;
    outline: none;
    background-color: rgba(79, 71, 71, 0);
  }

  input:focus {
    border: 3px solid #555;
  }

  /* [type=text] */

  .img-login {
    height: 700px; 
    object-fit: cover;
    object-position: 25% 25% ; 
  }

  .form-login-tabel {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;

  }


  .row {
    display: flex;
    flex-direction: column;
  }

::-webkit-input-placeholder {
    text-decoration: underline;
}

.login-container-right-side {
    width: 50%;
    height: 700px; 
}

.block-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}










main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container {
    padding: 40px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-header button {
    background-color: #ffa500;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.form-header .active {
    background-color: #ffa500;
    color: white;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #ffa500;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.image-container {
    flex-shrink: 0;
    width: 50%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}