* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h3 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h2, h4, h5 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body {
    background-color: #F6FFFE;
}
.loadingbox {
    height:700px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.test, .test-1, .test-2, .test-3, .test-4 {
    height: 80px;
    width: 160px;
    rotate: 0;
}
.test {
    animation: spinn 2s -0.2s infinite ease;
    z-index: 1;
    position: absolute;
}
.test-1 {
    animation: spinn 2s 0s infinite ease;
    z-index: 2;
    position: absolute;
}
.test-2 {
    animation: spinn 2s 0.2s infinite ease;
    z-index: 3;
    position: absolute;
}
.test-3 {
    animation: spinn 2s 0.4s infinite ease;
    z-index: 4;
    position: absolute;
}
.test-4 {
    animation: spinn 2s 0.6s infinite ease;
    z-index: 5;
    position: absolute;
}
@keyframes spinn {
    0% {
        transform: rotate( 0deg ) scale( 1 );
      }
    100% {
        transform: rotate( 360deg ) scale( 1 );
      }
}
.orb {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #b0b0b0;
}
.boxtitel {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background-color: #00f000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}



/* hero box index */
.hero-box-index {
    height: 523px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.image-hero-box-index {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-hero-box-index {
    height: auto;
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-hero-box-top-index{
    height: auto;
    width: 66%;
    right: 20px;
}
.style-line-hero-box-index {
    height: 1px;
    width: 280px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000000;
}
.info-hero-box-bottom-index {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttuns-top-hero-box-index {
    height: auto;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.destinations-button-hero-index, .bookAFlight-button-hero-index, .Book-now-button-special-offers-index {
    height: 55px;
    width: 240px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0.5px #e7e7e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.destinations-button-hero-index {
    background-color: #FF9900;
}
.bookAFlight-button-hero-index {
    background-color: #ffffff;
}
.buttuns-bottum-hero-box-index {
    height: auto;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bottum-button-hero-index {
    height: 38px;
    width: 101px;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



/* favorit box index */
.favorit-box-index {
    height: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.pruducts-favorit-container-index {
    height: auto;
    width: 84%;
    gap: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pruduct-favorit-box-index {
    height: 225px;
    width: 30%;
    background-color: #00f000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-favorit-box-index {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* special offers index */
.Special-offers-container-index {
    height: 542px;
    width: 100%;
    background-color: #D5D4FE;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.special-offers-box-index {
    height: auto;
    width: 268px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.special-offers-title-text-index, .special-offers-sale-amount-index {
    color: #3300FF;
}
.Book-now-button-special-offers-index {
    background-color: #3300FF;
    color: #ffffff;
}
.info-container-special-offers-index {
    height: auto;
    width: 690px;
}
/*                                          FIXME:  header page                                                                 */

.container {
    height: auto;
    width: auto;
    display: flex;
}
.header-box {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.popUpNotifiction {
    position: fixed;
    top: 0;
    right: 0;
    height: 300px;
    width: 140px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 0px 2px 4px #000000;
}



/*                                          FIXME: footer page                                                                 */



/*                                          FIXME: trips page                                                                  */

/* searchbar trips */



/*                                          FIXME: login page                                                                  */



/*                                          FIXME: detail page                                                                 */



/*                                          FIXME: dashboard page                                                              */
